%html{lang: "fi"}
  %head
    %title MQTT-SN-RUBY Subscribe Utility
    %meta{:charset => "utf-8"}/
    %link{:href => "/mqtt-sn.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "https://code.jquery.com/jquery-2.1.1.min.js"}
    %script{:src => "/mqtt-sn.js"}
    %script{:src => "/mqtt-sn-sub.js"}
  %body
    %h1 MQTT-SN-SUB Subscriber Utility
    %p.info ?
    %form{ onsubmit: "ajax(this); return(false);"}
      Msg:
      %input{name: "msg", size: 20}
      Topic:
      %input{name: "topic", size: 10}
      QoS:
      %select.qos{name: "qos"}
        %option{value: "0"} 0
        %option{value: "1"} 1
        %option{value: "2"} 2
      Retain:
      %input{type: :checkbox,name: "retain", value: "true"}
      %button{value: "Publish", onclick: "ajax(this); return(false);"}
        Publish
    %hr
    %p Gateways:
    %p.data 
    %hr
    %p Log:
    %pre.log 
    %hr
    %p
      %font{size: "-1"}
        Written by
        %a{href: "mailto:jalopuuverstas@gmail.com"}
          Ari Siitonen 
        2014 